<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazarus.adblock"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AdblockSubsystem"
            android:label="@string/adblock_subsystem_service" />
        <service
            android:name=".service.AdBlockMessageBus"
            android:label="@string/adblock_msgbus_service" />
        <service
            android:name=".service.FiltersUpdater"
            android:label="@string/adblock_filters_updater_service" />

        <receiver android:name=".service.NotificationReceiver">
            <intent-filter>
                <action android:name="play" />
                <action android:name="pause" />
                <action android:name="update" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.StartMyServiceAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c21c9159eadc322ad2c1bf8e5dac4166cf99412" />
    </application>

</manifest>